<div *ngIf="this.box">
  <div class="header">
    <h2>{{ this.box.name }}</h2>
    <div class="button-container">
      <ion-button
        class="button"
        fill="outline"
        href="vocabularies/{{ this.box.id }}/add"
      >
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="content">
    <!--https://github.com/ionic-team/ionic-framework/issues/18335#issuecomment-495075373-->
    <div class="scroll-view">
      <div class="card-container">
        <div
          class="card"
          *ngFor="let vocabulary of box.vocabularies"
          (click)="vocabularyClicked(vocabulary)"
          (press)="vocabularyHold(vocabulary.id)"
          [style.touch-action]="'pan-y'"
        >
          <div *ngIf="!vocabulary.flipped">
            <ion-card class="vocabulary-card">
              {{ vocabulary.frontSide }}</ion-card
            >
          </div>
          <div *ngIf="vocabulary.flipped">
            <ion-card class="vocabulary-card">
              {{ vocabulary.backSide }}</ion-card
            >
          </div>
        </div>
      </div>
    </div>
    <div class="content-button-container">
      <ion-fab-button class="button" href="{{ this.box.id }}/training/overview">
        <ion-icon name="school-outline"></ion-icon>
      </ion-fab-button>
    </div>
  </div>
</div>
