.card-container {
  display: grid;
  grid-template-rows: 30vh 30vh 20vh;
  margin-left: 20px;
  margin-right: 20px;
}

.input-card {
  height: 30vh;
  border: 2px solid --ion-color-primary-contrast;
  text-align: center;
}

.text-input {
  height: 100%;
  font-size: larger;
}

.button {
  align-self: center;
  justify-self: center;
  scale: 1.5;
}

.header {
  color: --ion-color-secondary;
}
