<div>
  <div class="header">
    <h2>Training</h2>
  </div>
  <div class="content">
    <div class="chart-container">
      <canvas #lineChart id="linechart">{{ chart }}</canvas>
    </div>
    <div class="checkboxes">
      <ion-item class="checkbox red-checkbox">
        <ion-checkbox
          slot="start"
          [disabled]="this.level0 === 0"
        ></ion-checkbox>
        <ion-label class="red">weak</ion-label>
        <span class="voc-count">{{ this.level0 }}</span>
      </ion-item>
      <ion-item class="checkbox yellow-checkbox">
        <ion-checkbox
          slot="start"
          [disabled]="this.level1 === 0"
        ></ion-checkbox>
        <ion-label class="yellow">okay</ion-label>
        <span class="voc-count">{{ this.level1 }}</span>
      </ion-item>
      <ion-item class="checkbox green-checkbox">
        <ion-checkbox
          slot="start"
          [disabled]="this.level2 === 0"
        ></ion-checkbox>
        <ion-label class="green">good</ion-label>
        <span class="voc-count">{{ this.level2 }}</span>
      </ion-item>
    </div>
    <div class="content-button-container">
      <ion-fab-button class="button">
        <ion-icon name="play-outline"></ion-icon>
      </ion-fab-button>
    </div>
  </div>
</div>
